<div class="row">
  <div class="col-lg-12">
    <div class="custom-card">
      <div class="custom-card-body">
        <h5 class="custom-card-title">CUSTOMER
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-sm btn-primary" title="Add customer" style="float: right;"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </h5>

      </div>
    </div>
  </div>
</div>

<div class="alert alert-dark" *ngIf="customerData.length == 0">No customer available</div>

<div class="row" *ngIf="customerData.length > 0">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="active-member">
          <div class="table-responsive">
            <table class="table table-xs mb-0">
              <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Available Balance</th>
                <th>Created Date</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let cust of customerData | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage}">
                <td>{{cust.id}}</td>
                <td>{{cust.name}}</td>
                <td>{{cust.email}}</td>
                <td>{{cust.mobile_number}}</td>
                <td *ngIf="cust?.wallet == null">NA</td>
                <td *ngIf="cust?.wallet != null">{{cust?.wallet}} <i class="fa fa-inr"></i></td>
                <td>{{cust?.created_at | date}}</td>
                <td><button type="button" class="btn btn-xs btn-secondary" title="Assign Role" (click)="openModal(assignUserRole);customerDetails(cust)"><i class="fa fa-random" aria-hidden="true"></i></button>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<pagination-controls *ngIf="customerData.length > 0" (pageChange)="pageChange($event)"></pagination-controls>


<ng-template #assignUserRole>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Assign Role to {{customerDetailsData.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="basic-form">
          <form [formGroup]="assignRole">
            <div class="form-group">
              <label>Select Role</label>
              <ng-select2 [data]="rolesOptionList" [options]="options" placeholder="Please select role" formControlName="role" class="form-control input-default"></ng-select2>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-primary" (click)="assignRoleToCustomer()" [disabled]="!assignRole.valid" [ngClass]="assignRole.valid? '' : 'btn-disabled'">Assign Role</button>
  </div>
</ng-template>
